In [1]:
import seaborn as sns
import numpy as np
from numpy import array
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

# create column names
df2 = pd.read_csv("drug_consumption.csv", 
                  names=["Age", "Gender", "Education", "Country", "Ethnicity", "Nscore", "Escore", "Oscore", "Ascore", "Cscore", "Impulsive", "SS", "Alcohol", "Amphet", "Amyl", "Benzos", "Caff", "Canabis", "Choc", "Coke", "Crack", "Ecstacy", "Heroin", "Ketamine", "Legalh", "LSD", "Meth", "Mushrooms", "Nicotine", "Semer", "VSA"])

pd.DataFrame.head(df2)

,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,Cscore,...,Ecstacy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,-0.14277,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,0.58489,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,1.30612,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0

In [2]:
arr = ["Alcohol", "Amphet", "Amyl", "Benzos", "Caff", "Canabis", "Choc", "Coke", "Crack", "Ecstacy", "Heroin", "Ketamine", "Legalh", "LSD", "Meth", "Mushrooms", "Nicotine", "Semer", "VSA"]
# remove CL and convert strings to ints
# Use frequency categories:
# CL0: Never used (0)
# CL1-2: Used to use (1)
# CL3-6: Current user (2)
for i in range(len(arr)):
    df2[arr[i]].replace({"CL0": "0", "CL1": "1", "CL2": "1", "CL3": "2", "CL4": "2", "CL5": "2", "CL6": "2"}, inplace=True)
    df2[arr[i]] = pd.to_numeric(df2[arr[i]])

In [3]:
df2

,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,Cscore,...,Ecstacy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,...,0,0,0,0,0,0,0,1,0,0
2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,-0.14277,...,2,0,1,0,1,2,0,2,0,0
3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,...,0,0,0,0,0,0,1,0,0,0
4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,0.58489,...,0,0,1,0,0,0,0,1,0,0
5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,1.30612,...,1,0,0,1,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,-1.19430,1.74091,1.88511,0.76096,-1.13788,...,0,0,0,2,2,0,0,0,0,2
1885,-0.95197,-0.48246,-0.61113,-0.57009,-0.31685,-0.24649,1.74091,0.58331,0.76096,-1.51840,...,1,0,0,2,2,2,2,2,0,0
1886,-0.07854,0.48246,0.45468,-0.57009,-0.31685,1.13281,-1.37639,-1.27553,-1.77200,-1.38502,...,2,0,1,0,1,0,1,2,0,0
1887,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,0.91093,-1.92173,0.29338,-1.62090,-2.57309,...,2,0,0,2,2,0,2,2,0,0
1888,-0.95197,-0.48246,-0.61113,0.21128,-0.31685,-0.46725,2.12700,1.65653,1.11406,0.41594,...,2,0,0,2,2,0,2,2,0,1

In [4]:
# ML&Algo Part
# MLPRegression for all Personality Scores Together

# What drugs are associated with what personalities?
# X = particular drug consumption, y = personality measurements
from sklearn.preprocessing import MinMaxScaler
from sklearn.neural_network import MLPClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor

x_unscaled = df2[["Alcohol", "Amphet", "Canabis", "Coke", "Ecstacy", "LSD", "Meth", "Mushrooms"]]
y_unscaled = df2[["Nscore", "Escore", "Oscore", "Ascore", "Cscore", "Impulsive", "SS"]]

scalerx = MinMaxScaler()
scalerx.fit(x_unscaled)
x = scalerx.transform(x_unscaled)

scalery = MinMaxScaler()
scalery.fit(y_unscaled)
y = scalery.transform(y_unscaled)

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 10, test_size = 0.1)

clf = MLPRegressor(hidden_layer_sizes=(12,3),activation="logistic",solver = 'sgd', max_iter = 500, random_state=1, learning_rate_init = 0.3)
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test) 

print("Model Accuracy:", clf.score(x_test, y_test), "\n")

Model Accuracy: 0.06689873446104304

In [5]:
# MLPRegression for Individual Personality Scores
# X = particular drug consumption, y = one personality measurement

x = df2[["Alcohol", "Amphet", "Canabis", "Coke", "Ecstacy", "LSD", "Meth", "Mushrooms"]]

clf = MLPRegressor(hidden_layer_sizes=(12,3),activation="logistic",solver = 'sgd', max_iter = 500, random_state=1, learning_rate_init = 0.3)

personalityScoresList = ["Nscore", "Escore", "Oscore", "Ascore", "Cscore", "Impulsive", "SS"]
for personalityScore in personalityScoresList:
    y = df2[personalityScore]

    x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 10, test_size = 0.1)

    clf.fit(x_train, y_train)
    y_pred = clf.predict(x_test)
    print(personalityScore)
    print("Model Accuracy:", clf.score(x_test, y_test), "\n")

Nscore
Model Accuracy: 0.005439078087634219

Escore
Model Accuracy: -0.05073664087754515

Oscore
Model Accuracy: 0.21162688914795236

Ascore
Model Accuracy: 0.04122583528497836

Cscore
Model Accuracy: 0.033293899264358995

Impulsive
Model Accuracy: 0.0575462081169299

SS
Model Accuracy: 0.19774279616813983